<?xml version="1.0" encoding="UTF-8"?>
<config>    
    <modules>
        <Zero1_Crondoctor>
            <version>1.0.1.0</version>
        </Zero1_Crondoctor>
    </modules>
    
    <global>        
        <blocks>
            <zero1_crondoctor>
                <class>Zero1_Crondoctor_Block</class>
            </zero1_crondoctor>
        </blocks>
        
        <helpers>
            <zero1_crondoctor>
                <class>Zero1_Crondoctor_Helper</class>
            </zero1_crondoctor>
        </helpers>
        
        <models>            
            <zero1_crondoctor>
                <class>Zero1_Crondoctor_Model</class>
                <resourceModel>zero1_crondoctor_resource</resourceModel>
            </zero1_crondoctor>
            
            <zero1_crondoctor_resource>
                <class>Zero1_Crondoctor_Model_Resource</class>
                <entities>
                    <crondoctor>
                        <table>zero1_crondoctor</table>
                    </crondoctor>
                </entities>
            </zero1_crondoctor_resource>
        </models>
        
        <resources>
            <zero1_crondoctor_setup>
                <setup>
                    <module>Zero1_Crondoctor</module>
                    <class>Zero1_Crondoctor_Model_Resource_Setup</class>
                </setup>
            </zero1_crondoctor_setup>
        </resources>
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <zero1_crondoctor before="Mage_Adminhtml">Zero1_Crondoctor_Adminhtml</zero1_crondoctor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <frontend>
        <layout>
            <updates>
                <zero1_crondoctor>
                    <file>crondoctor/crondoctor.xml</file>
                </zero1_crondoctor>
            </updates>
        </layout>
    </frontend>
    
    <adminhtml>
        <layout>
            <updates>
                <zero1_crondoctor>
                    <file>crondoctor/crondoctor.xml</file>
                </zero1_crondoctor>
            </updates>
        </layout>
    </adminhtml>
    
    <default>
        <zero1_crondoctor>
            <options>
                <enabled>1</enabled>
            </options>
        </zero1_crondoctor>
    </default>
    
  
</config>
